<figure class="{size}">
	<a class="{size}" href="content/{item.alias}">
		<div class="square-pad">
			{#if collection}
				{#each item.artImages as img}
					<img class="collection" alt="Preview" src="{img[size]}">
				{/each}
			{:else}
				<img alt="Preview" src="{item.images[size]}">
			{/if}
		</div>
	</a>
	{#if item.audio}
		<div class="audio" class:playing="audioPlaying" on:click="play(item.audio)"></div>
		<div class="audio-progress">
			<div ref:audioProgress class="fill"></div>
		</div>
	{/if}
	<figcaption>
		<a href="content/{item.alias}">{item.name}</a>
		{#if item.author && showAuthor}
			<div class="author">by <a href="users/{item.author.username}">{item.author.name}</a></div>
		{/if}
	</figcaption>
</figure>

<style>
	.large {
		width: 383px;
		max-width: 100%;
	}

	.medium {
		width: 258px;
		max-width: calc(50% - 1em);
	}

	figure {
		margin: 0.5em;
		padding: 4px;
		border-radius: 4px;
		background: white;

		box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.1);
		max-width: 100%;
		box-sizing: border-box;
		position: relative;
	}

	figure:hover {
		box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, 0.2);
	}

	.square-pad {
		padding-top: 100%;
		position: relative;
		overflow: hidden;
		background: #222;
	}

	.square-pad > img {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		width: 100%;
		margin: auto;
	}

	/* three offsetted images for collections */
	.square-pad > img.collection {
		width: 70%;
		top: 15%;
		bottom: 15%;
		left: 15%;
		right: 15%;
		background: #222; /*for transparent previews*/
	}

	.square-pad > img.collection:first-child {
		top: 0;
		left: 0;

		bottom: 30%;
		right: 30%;
	}

	.square-pad > img.collection:last-child {
		top: 30%;
		left: 30%;

		bottom: 0;
		right: 0;
	}

	figcaption {
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
	}

	figcaption > a {
		color: inherit;
	}

	.author {
		font-size: 0.8em;
		text-align: right;
	}

	/*audio*/
	.audio {
		position: absolute;
		top: calc(50% - 4em);
		left: 5%;
		right: 0;
		margin: auto;

		width: 0;
		height: 0;

		border-left: 3.5em solid rgba(255, 255, 255, 0.5);
		border-top: 3em solid transparent;
		border-bottom: 3em solid transparent;
	}

	.audio.playing {
		border-top: none;
		border-bottom: none;
		border-left-width: 1em;
		border-right: 1em solid rgba(255, 255, 255, 0.5);
		width: 2em;
		height: 6em;
		left: 0;
	}

	.audio:hover {
		border-left-color: rgba(255, 255, 255, 0.7);
		border-right-color: rgba(255, 255, 255, 0.7);
	}

	.audio-progress {
		position: absolute;
		left: 8px;
		right: 8px;
		top: calc(85% - 2em);

		background: rgba(255, 255, 255, 0.1)
	}

	.audio-progress .fill {
		background: #eee;
		width: 0;
		height: 4px;
	}
</style>

<script>
	import {AudioPlayer} from '../audio.js';

	export default {
		data() {
			return {
				size: "medium",
				showAuthor: true,
				collection: false,
				audioPlayer: new AudioPlayer(),
				audio: null,
				audioPlaying: false,
				audioProgress: 0
			};
		},
		methods: {
			play(info) {
				const data = this.get();
				if(data.audioPlaying)
					data.audioPlayer.pause(data.audio);
				else {
					const audio = data.audioPlayer.play(info);

					if(!data.audio) {
						audio.el.addEventListener("play", () => this.set({audioPlaying: true}));
						audio.el.addEventListener("pause", () => console.log("paused") || this.set({audioPlaying: false}));
						audio.el.addEventListener("ended", () => this.set({audioPlaying: false}));
						//audio.el.addEventListener("timeupdate", e => this.set({audioProgress: e.target.currentTime / e.target.duration}));
						audio.el.addEventListener("timeupdate", e => this.refs.audioProgress.style.width = `${e.target.currentTime / e.target.duration * 100}%`);
						this.set({audio});
					}
				}
			}
		},
	}
</script>